@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

#qr-scanner-region video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
/* You can add global styles below. Example:
body { @apply bg-gray-50 text-gray-900; }
*/
